@charset "ISO-8859-1";

body{
background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); 
}
	
.navbar-inverse {
   
    border-color: #080808;
    background-color: #ffffff;
}

.navbar {
   
    min-height: 40px;
    margin-bottom: 60px;
    border: 1px solid transparent; 
}

ol, ul {
    margin-top: 10;
    margin-bottom: 10px;
}


.sinistra{
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1{
    padding: 9%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}


.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}


 .product-image6{overflow:hidden}
.product-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
 .product-image6 a{display:block}
 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
hover .product-image6 img{transform:scale(1.1)}
.product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
hover .product-content{opacity:0}
.title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
 .title a{color:#000}
.title a:hover{color:#2e86de}
 .price{font-size:18px;font-weight:600;color:#2e86de}
 .price span{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}
.social{background-color:#fff;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
hover .social{opacity:1;bottom:20px}
 .social li{display:inline-block}
 .social li a{color:#909090;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid #909090;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
 .social li a:hover{color:#fff;background-color:#2e86de;width:80px}
 .social li a:after,.product-grid6 .social li a:before{content:attr(data-tip);color:#fff;background-color:#2e86de;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.social li a:hover:after,.product-grid6 .social li a:hover:before{opacity:1}
@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
}



.user-l {
  padding-right: 6px;
}

.user-l >img,

.redes >ul li a {
  width: 42px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  border-radius: 10em;
  border: #EEE 1px solid;
}
.redes >ul li span {
  color: #CCC;
  font-size: 18px;
}


